/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
}

body {
  font-family: var(--font-regular);
} 

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .cover {
   background-image: url(../svg/background.svg);
   background-size: cover;
   background: repeating-linear-gradient( #e7e7e7, #1a1a1a);
} */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(../svg/background.svg); */
  max-width: 700px;
  border: 2px solid var(--border-color);
  color: var(--font-color);
  font-family: var(--font-pixel_style);
}



.header__title {
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}

.theme-menu__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  background-color: var(--background-color);
  border: none;
  position: relative;
  outline: none;
}

   /* -------- двигающаяся трелочка в меню ------- */

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  display: inline-block;
  animation: rocking 0.5s ease-in-out infinite alternate;
}

@keyframes rocking {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}










.theme-menu__item:last-child {
  margin-bottom: 25px;
}

.header__text {
  font-family: var(--font-pixel_style);
  font-size: 65px;
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 20px;
}

.section_block {
  max-width: 696px;
  margin-bottom: 50px;
  border: 2px solid var(--border-color);
  color: var(--font-color);
}

.section_block:last-child {
  margin-bottom: 0;
}

.block_text_title {
  align-self: self-start;
  margin-left: 10px;
}

.block_text {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.block_button {
  margin-bottom: 25px;
  margin-right: 25px;
}

.picture {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.block_button {
  display: flex;
  justify-content: flex-end;
}



.card__icon-button {
  font-family: var(--font-pixel_style);
  height: 38px;
  background: var(--background-color);
  border: none;
  outline: none;
  
}

.sparks {
  opacity: 0;
}
    /* -------  hover  --------  */

.like-icon:hover {
  cursor: pointer;
}

.like-icon .core {
  fill: var(--background-color);
  transition: fill 0.3s ease-out 0.05s;
}

.like-icon .main-body {
  fill: var(--background-color);
  transition: fill 0.3s ease-in-out 0.03s;
}

.like-icon:hover .core {
  fill: var(--border-color);
}

.like-icon:hover .main-body {
  fill: var(--border-color);
}
   /* -------  active  --------  */

.like-icon:active .core {
  animation: is-liked 0.3s;
}

.like-icon:active .main-body {
  animation: is-liked 0.3s;
}

.like-icon:active .contour {
  animation: is-liked 0.3s ease 0.06s;
}

@keyframes is-liked {
  from {
    fill: var(--font-color);
  }
  to {
    fill: var(--like-color);
  }
}
 /* -------  big red heart  --------  */

 .like-icon.is-liked .contour {
  animation: big-heart 1.5s;
  transform-origin: center;
}

.like-icon.is-liked .main-body {
  animation: big-heart 1.5s;
  transform-origin: center;
}

.like-icon.is-liked .core {
  animation: big-heart 1.5s;
  transform-origin: center;
}

@keyframes big-heart {
  from {
    scale: 1;
  }
  to {
    scale: 1.15;
    fill: var(--like-color);
  }
}
  /* -------  sparks  --------  */

.like-icon.is-liked .sparks {
  animation: firework 1s;
}

@keyframes firework {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}




/* ---- правая кнопка like button  --------  */

.card__like-button:focus {
  box-shadow: 2px 2px;
  outline: none;
}

.card__like-button {
  position: relative;
  font-family: var(--font-pixel_style);
  padding: 9px 17px;
  width: 130px;
  height: 38px;
  background: var(--background-color);
  border: 2px solid var(--border-color);
  z-index: 1;
}

.button__text {
  color: var(--text-color-inverse);
  mix-blend-mode: difference;
}

.submit__text {
  color: var(--font-color);
  background: var(--background-color);
  border: 2px solid var(--border-color);
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 34px;
  background: linear-gradient(to right, var(--border-color), var(--border-color));
  transition: all 1s;
  z-index: 0;
  
}

.card__like-button:hover::before {
  width: 100%;
}

/* ---------  save button ----------  */


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 700px; */
  font-family: var(--font-pixel_style);
  color: var(--font-color);
}

.floppy {
  max-width: 39px;
  height: 39px;
  color: var(--text-color-inverse);
  mix-blend-mode: difference;
}

.dialog {
  background: var(--background-color);
  border: 2px solid var(--border-color);
  width: 357px;
  height: 193px;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* padding: 30px; */
  
}

.container_for_dialog-text {
  display: flex;
  gap: 20px;
}

.dialog.opened {
  display: flex;
}

.save-button {
  width: 335px;
  height: 51px;
  margin-bottom: 103px;
  font-size: 14px;
  position: relative;
  font-family: var(--font-pixel_style);
  background: var(--background-color);
  border: 2px solid var(--border-color);
  z-index: 1;
  outline: none;
}


/* --------- hover save button ----------  */

.save-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 48px;
  background: linear-gradient(to right, var(--border-color), var(--border-color));
  transition: all 1s;
  z-index: 0;
}

.save-button:hover::before {
  width: 100%;
}


/* ----------------- hover menu -----  это работает   ------------------- */

.theme-menu__button:hover {
  position: relative;
  cursor: pointer;
  opacity: 0.6;
}

/* ----------------- active menu   ------------------- */


.theme-menu__button::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.5s ease;
}

.theme-menu__button:focus::after {
  width: 100%;
}
