/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  height: 3000px;
}

body {
  font-family: var(--font-regular);
  display: flex;
  flex-direction: column;
  align-items: center;
  
} 

.cover {
   background-image:  var(--background-gradient-image);
   background-attachment: fixed;
   background-size: cover;
   
   /* height: 960px; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  border: 2px solid var(--border-color);
  color: var(--font-color);
  font-family: var(--font-pixel_style);
  background-color: var(--background-color);
  margin-top: 102px;
  margin-bottom: 102px;
  width: 696px;
  min-height: 364px;
}

.header__title {
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.theme-menu {
  transform: translateX(20px);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transform: translateX(-20px);
}

.theme-menu__button {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.watermark-text {
  position: absolute;
  mix-blend-mode: hard-light;
  width: 280px;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--font-pixel_style);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: right;
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .watermark-text {
    -webkit-text-stroke: 1px var(--background-color);
  }
}



/* .watermark::after {
  position: absolute;
  content: "<desigions>";
  top: 45px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--font-pixel_style);
} */

.theme-menu__item:last-child {
  /* margin-bottom: 25px; */
}

.header__text {
  font-family: var(--font-pixel_style);
  font-size: 65px;
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 20px;
  margin-top: 136px;
}

.wrapper {
  position: relative;
}

.block_picture {
  height: 696px;
}

.section_block {
  max-width: 696px;
  min-height: 959px ;
  margin-bottom: 50px;
  border: 2px solid var(--border-color);
  color: var(--font-color);
  background-color: var(--background-color);
}

.section_block:last-child {
  margin-bottom: 0;
}

.block_text_title {
  align-self: self-start;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
}

.block_text {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  font-size: 18px;
}

.block_button {
  display: flex;
  justify-content: flex-end;
  position: absolute; 
  bottom: 25px;
  right: 25px;
}

.picture {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__icon-button {
  font-family: var(--font-pixel_style);
  height: 38px;
  background: var(--background-color);
  border: none;
  outline: none;
}
/* ---- правая кнопка like button  --------  */

.card__like-button:focus {
  box-shadow: 2px 2px;
  outline: none;
}

.card__like-button {
  position: relative; 
  font-family: var(--font-pixel_style);
  padding: 9px 17px;
  width: 130px;
  height: 38px;
  background: var(--background-color);
  border: 2px solid var(--border-color);
  z-index: 1;
}

.button__text {
  color: var(--text-color-inverse);
  mix-blend-mode: difference;
}

.submit__text {
  color: var(--font-color);
  background: var(--background-color);
  border: 2px solid var(--border-color);
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 34px;
  background: linear-gradient(to right, var(--border-color), var(--border-color));
  transition: all 1s;
  z-index: 0;
}

.card__like-button:hover::before {
  width: 100%;
}
/* ---------  save button ----------  */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-pixel_style);
  color: var(--font-color);
}

.floppy {
  max-width: 39px;
  height: 39px;
  color: var(--text-color-inverse);
  mix-blend-mode: difference;
}

.dialog {
  background: var(--background-color);
  border: 2px solid var(--border-color);
  width: 357px;
  height: 193px;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  background:  #000000;
  opacity: 0.75;
}

.container_for_dialog-text {
  display: flex;
  gap: 20px;
}

.dialog.opened {
  display: flex;
}

.save-button {
  width: 335px;
  height: 51px;
  margin-bottom: 103px;
  margin-top: 52px;
  font-size: 14px;
  position: relative;
  font-family: var(--font-pixel_style);
  background: var(--background-color);
  border: 2px solid var(--border-color);
  z-index: 1;
  outline: none;
}

/* --------- hover save button ----------  */

.save-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 48px;
  background: linear-gradient(to right, var(--border-color), var(--border-color));
  transition: all 1s;
  z-index: 0;
}

.save-button:hover::before {
  width: 100%;
}

/* ----------------- hover menu -----  это работает   ------------------- */

.theme-menu__button:hover {
  position: relative;
  cursor: pointer;
  opacity: 0.6;
}

/* ----------------- active menu   ------------------- */

.theme-menu__button::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.5s ease;
}

.theme-menu__button:focus::after {
  width: 100%;
}

@media (width <= 376px) {

  .header__text {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  }

  .header__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  }
  
  .save-button {
    display: flex;
    flex-direction: column;
    width: 306px;
    height: 84px;
  } 

  .floppy {
    align-self: center;
  }

  .save-button .button__text {
    align-self: center;
  }

}