:root.theme-dark {
  --accent-color: #00cc14;
  --border-color: #00cc14;
  --font-color: #00cc14;
  --background-color: #1A1A1A;
  --background-color-inverse: #00cc14;
  --text-color-inverse: #00cc14;

}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00cc14;
    --border-color: #00cc14;
    --font-color: #00cc14;
    --background-color: #1A1A1A;
    --text-color-inverse: #00cc14;
    }
  }

:root.theme-light {
  --accent-color: #E7E7E7;
  --font-color: #000000;
  --border-color: #000000;
  --background-color: #FFFFFF;
  --text-color-inverse: #FFF;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #E7E7E7;
    --font-color: #000000;
    --border-color: #000000;
    --background-color: #FFFFFF;
    --text-color-inverse: #000000;
    }
  }